<!DOCTYPE html>
<html lang="{{ site.LanguageCode | default "en" }}">
  {{- partial "head.html" . -}}
<body>
  {{- partial "topbar.html" . -}}
  <main class="main">
    <div class="content-inner">
      {{- block "main" . }}{{ end -}}
    </div>
  </main>
  {{- partial "footer.html" . -}}
  <button class="scroll-top" aria-label="Scroll to top" title="Scroll to top">
    <svg viewBox="0 0 24 24"><polyline points="18 15 12 9 6 15"/></svg>
  </button>
  {{- $copyCode    := resources.Get "js/copy-code.js"    | minify | fingerprint }}
  {{- $themeToggle := resources.Get "js/theme-toggle.js" | minify | fingerprint }}
  {{- $scrollTop   := resources.Get "js/scroll-top.js"   | minify | fingerprint }}
  <script src="{{ $copyCode.RelPermalink }}"    integrity="{{ $copyCode.Data.Integrity }}"    defer></script>
  <script src="{{ $themeToggle.RelPermalink }}" integrity="{{ $themeToggle.Data.Integrity }}" defer></script>
  <script src="{{ $scrollTop.RelPermalink }}"   integrity="{{ $scrollTop.Data.Integrity }}"   defer></script>
</body>
</html>
