{{ $baseurl := .Site.BaseURL }}
    <div>
        <section id="datecount">
          <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
          <h5 id="wc"> {{ .FuzzyWordCount }} Words </h5>
          <h5 id="readtime"> Read in about {{ .ReadingTime }} Min </h5>
          <h5><a href={{ $.Params.meetup_url }}>Link: Scala DC June 2017 Meetup</a></h5>
        </section>
        <ul id="tags">
          {{ range .Params.tags }}
            <li> <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div>
        {{ partial "organizer.html" . }}
    </div>
