        <ul id="mainnav">
            <li>
                <a href="/post/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-pencil-square-o"></i></span>
                <span> blog </span>
            </a>
            </li>
            <li>
            <a href="/page/salar-rahmanian/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-user"></i></span>
                <span> me </span>
            </a>
            </li>
            <li>
            <a href="/meetup/">
                <span class="icon"> <i aria-hidden="true" class="fa fa-meetup"></i></span>
                <span> Meetup </span>
            </a>
            </li>
        </ul>
