<div>
    <h4>Organizer for the following meetups</h4>
    <ul>
        <li><a href="https://www.meetup.com/AngularJS-DC/">AngularJS DC</a></li>
        <li><a href="https://www.meetup.com/dc-scala/">Scala DC</a></li>
        <li><a href="https://www.meetup.com/Washington-DC-Elastic-Fantastics/">Elastic Washington DC</a></li>
        <li><a href="https://www.meetup.com/Tech_Fusion/">Tech Fusion</a></li>
    </ul>
</div>
<div>
    <h4><a href="https://docs.google.com/a/softinio.com/forms/d/1UlUobRylGQEg90ADIoxt5mhNMdzl1lD0PT4pjYE2NYc/viewform?edit_requested=true">Want to speak at one of my meetups?</a></h4>
</div>
<div>
    <h4><a href="/page/sponsor-a-meetup/">Want to sponsor my meetups?</a></h4>
</div>
